In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("jester-800-10.csv")
df

,Unnamed: 0,user_id,joke_5,joke_7,joke_8,joke_13,joke_15,joke_16,joke_17,joke_18,joke_19,joke_20,num_positives
0,5013,user_5013,0,1,0,0,1,0,0,1,1,1,5
1,10016,user_10016,0,0,0,1,0,1,1,1,0,1,5
2,21844,user_21844,1,1,1,1,1,1,1,1,1,1,10
3,3403,user_3403,1,0,0,1,0,1,1,0,1,1,6
4,23240,user_23240,0,1,0,1,1,1,1,1,0,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,7471,user_7471,1,1,0,1,0,0,0,1,0,0,4
796,22586,user_22586,1,0,1,1,0,1,1,1,1,1,8
797,14652,user_14652,1,1,1,1,1,1,0,1,0,1,8
798,15506,user_15506,1,0,0,0,0,0,0,1,1,1,4
799,5338,user_5338,1,1,1,1,1,0,1,0,0,0,6

In [3]:
del df['Unnamed: 0']
del df['num_positives']
df = df.set_index('user_id')
#df = pd.read_csv('data.csv', index_col=0)
df

,joke_5,joke_7,joke_8,joke_13,joke_15,joke_16,joke_17,joke_18,joke_19,joke_20
user_id,,,,,,,,,,
user_5013,0,1,0,0,1,0,0,1,1,1
user_10016,0,0,0,1,0,1,1,1,0,1
user_21844,1,1,1,1,1,1,1,1,1,1
user_3403,1,0,0,1,0,1,1,0,1,1
user_23240,0,1,0,1,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...
user_7471,1,1,0,1,0,0,0,1,0,0
user_22586,1,0,1,1,0,1,1,1,1,1
user_14652,1,1,1,1,1,1,0,1,0,1
user_15506,1,0,0,0,0,0,0,1,1,1
user_5338,1,1,1,1,1,0,1,0,0,0

In [4]:
#datasets = df.to_numpy().tolist()
#datasets

In [5]:
items = df.columns.values.tolist()
users = df.index.values.tolist()
items

['joke_5',
 'joke_7',
 'joke_8',
 'joke_13',
 'joke_15',
 'joke_16',
 'joke_17',
 'joke_18',
 'joke_19',
 'joke_20']

In [6]:
#df = pd.DataFrame(data=datasets,index=users,columns=items)
#df

In [7]:
# 这里我们使用杰卡德相似系数来计算相似度
from sklearn.metrics.pairwise import pairwise_distances

# 计算用户之间的相似度  1 - 杰卡德距离 = 杰卡德相似度
user_similar = 1 - pairwise_distances(df.values, metric = 'jaccard')
user_similar = pd.DataFrame(data=user_similar,index=users,columns=users)
user_similar

C:\software\Anaconda3\lib\site-packages\sklearn\metrics\pairwise.py:1735: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

,user_5013,user_10016,user_21844,user_3403,user_23240,user_835,user_1538,user_7229,user_10809,user_14356,...,user_4442,user_15882,user_10237,user_16014,user_12180,user_7471,user_22586,user_14652,user_15506,user_5338
user_5013,1.000000,0.250000,0.5,0.222222,0.500000,0.5,0.300000,0.666667,0.375000,0.500000,...,0.250000,0.714286,0.375000,0.250000,0.333333,0.285714,0.300000,0.444444,0.500000,0.222222
user_10016,0.250000,1.000000,0.5,0.571429,0.714286,0.5,0.444444,0.428571,0.571429,0.500000,...,0.428571,0.500000,0.571429,0.666667,0.500000,0.285714,0.625000,0.444444,0.285714,0.222222
user_21844,0.500000,0.500000,1.0,0.600000,0.700000,1.0,0.800000,0.500000,0.600000,0.700000,...,0.500000,0.700000,0.600000,0.500000,0.700000,0.400000,0.800000,0.800000,0.400000,0.600000
user_3403,0.222222,0.571429,0.6,1.000000,0.444444,0.6,0.750000,0.375000,0.500000,0.625000,...,0.833333,0.444444,0.714286,0.571429,0.625000,0.250000,0.750000,0.400000,0.428571,0.333333
user_23240,0.500000,0.714286,0.7,0.444444,1.000000,0.7,0.500000,0.500000,0.857143,0.555556,...,0.333333,0.750000,0.444444,0.500000,0.400000,0.375000,0.500000,0.666667,0.222222,0.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
user_7471,0.285714,0.285714,0.4,0.250000,0.375000,0.4,0.333333,0.500000,0.250000,0.571429,...,0.285714,0.375000,0.428571,0.285714,0.375000,1.000000,0.333333,0.500000,0.333333,0.428571
user_22586,0.300000,0.625000,0.8,0.750000,0.500000,0.8,0.777778,0.444444,0.400000,0.666667,...,0.625000,0.500000,0.750000,0.625000,0.875000,0.333333,1.000000,0.600000,0.500000,0.400000
user_14652,0.444444,0.444444,0.8,0.400000,0.666667,0.8,0.600000,0.444444,0.555556,0.666667,...,0.444444,0.500000,0.400000,0.444444,0.666667,0.500000,0.600000,1.000000,0.333333,0.555556
user_15506,0.500000,0.285714,0.4,0.428571,0.222222,0.4,0.333333,0.500000,0.111111,0.571429,...,0.500000,0.375000,0.666667,0.500000,0.571429,0.333333,0.500000,0.333333,1.000000,0.111111
user_5338,0.222222,0.222222,0.6,0.333333,0.444444,0.6,0.555556,0.222222,0.500000,0.300000,...,0.222222,0.444444,0.333333,0.222222,0.300000,0.428571,0.400000,0.555556,0.111111,1.000000

In [8]:
# 接下来计算TOP-N相似结果 (相似度最接近的前两名用户)
topN_users = {}
for i in user_similar.index:
    _df = user_similar.loc[i].drop(i)
    _df_sorted = _df.sort_values(ascending=False)
    top2 = list(_df_sorted.index[:2])
    topN_users[i] = top2

import numpy as np
results = {}
for user,sim_users in topN_users.items():
    res = set()
    for sim_user in sim_users:
        res = res.union(set(df.loc[sim_user].replace(0,np.NaN).dropna().index))
    # 过滤掉用户已经购买过的物品
    res -= set(df.loc[user].replace(0,np.NaN).dropna().index)
    results[user] = res
    
print("最终推荐结果:",results)

最终推荐结果: {'user_5013': {'joke_16'}, 'user_10016': set(), 'user_21844': set(), 'user_3403': {'joke_18'}, 'user_23240': {'joke_19'}, 'user_835': set(), 'user_1538': set(), 'user_7229': set(), 'user_10809': set(), 'user_14356': set(), 'user_19776': {'joke_16', 'joke_20'}, 'user_11872': set(), 'user_16723': {'joke_19'}, 'user_7966': set(), 'user_477': set(), 'user_10589': set(), 'user_11468': set(), 'user_14307': set(), 'user_18943': {'joke_7'}, 'user_6604': {'joke_5', 'joke_13'}, 'user_10675': {'joke_20'}, 'user_10734': set(), 'user_19332': {'joke_7', 'joke_20'}, 'user_15270': set(), 'user_13315': {'joke_20'}, 'user_21704': set(), 'user_7384': {'joke_18'}, 'user_2957': {'joke_5', 'joke_7', 'joke_20'}, 'user_14225': set(), 'user_22990': {'joke_5'}, 'user_12851': set(), 'user_2966': set(), 'user_21823': set(), 'user_19477': set(), 'user_1685': {'joke_15'}, 'user_12961': set(), 'user_21276': {'joke_16'}, 'user_448': set(), 'user_10781': set(), 'user_4626': set(), 'user_9255': set(), 'user_3780': set(), 'user_9692': {'joke_7'}, 'user_2821': set(), 'user_7052': set(), 'user_770': {'joke_18'}, 'user_15952': set(), 'user_21347': set(), 'user_499': {'joke_7', 'joke_20'}, 'user_17003': {'joke_5'}, 'user_19235': {'joke_18', 'joke_20'}, 'user_9152': set(), 'user_18234': {'joke_15', 'joke_20'}, 'user_7439': set(), 'user_6541': set(), 'user_19595': {'joke_19', 'joke_8', 'joke_20'}, 'user_5446': set(), 'user_23195': {'joke_20'}, 'user_7825': {'joke_20'}, 'user_9725': {'joke_18'}, 'user_15052': set(), 'user_15068': set(), 'user_20929': set(), 'user_17839': set(), 'user_12793': set(), 'user_15686': {'joke_18'}, 'user_4142': set(), 'user_13161': set(), 'user_5972': set(), 'user_15125': set(), 'user_3899': {'joke_17'}, 'user_16835': set(), 'user_18855': set(), 'user_7243': {'joke_8', 'joke_15'}, 'user_21555': set(), 'user_9417': set(), 'user_21731': {'joke_18'}, 'user_22865': set(), 'user_2961': {'joke_17'}, 'user_22194': set(), 'user_14422': set(), 'user_1424': {'joke_20'}, 'user_13742': set(), 'user_21395': set(), 'user_3977': set(), 'user_17194': set(), 'user_10865': set(), 'user_2411': {'joke_17', 'joke_18'}, 'user_13857': set(), 'user_9171': {'joke_8'}, 'user_7083': {'joke_5'}, 'user_10767': {'joke_15', 'joke_7'}, 'user_4104': set(), 'user_2964': {'joke_20'}, 'user_13116': set(), 'user_20946': set(), 'user_7136': {'joke_7'}, 'user_18044': set(), 'user_19975': {'joke_13', 'joke_20'}, 'user_15397': set(), 'user_2140': {'joke_13', 'joke_20'}, 'user_9880': set(), 'user_2114': {'joke_16'}, 'user_5571': set(), 'user_14991': set(), 'user_16582': set(), 'user_6037': {'joke_13'}, 'user_2607': {'joke_20'}, 'user_15314': set(), 'user_1673': {'joke_17'}, 'user_21153': set(), 'user_6585': set(), 'user_4296': set(), 'user_11971': set(), 'user_14667': {'joke_17'}, 'user_15311': set(), 'user_19860': set(), 'user_19229': set(), 'user_11358': set(), 'user_2639': {'joke_18'}, 'user_8397': set(), 'user_10722': set(), 'user_502': {'joke_13', 'joke_18'}, 'user_14087': set(), 'user_16230': {'joke_19'}, 'user_2841': {'joke_13', 'joke_17'}, 'user_2739': set(), 'user_15151': set(), 'user_14645': set(), 'user_8135': {'joke_17', 'joke_20'}, 'user_22185': set(), 'user_9764': {'joke_19'}, 'user_20196': {'joke_5'}, 'user_15521': {'joke_20'}, 'user_12594': set(), 'user_9755': {'joke_7'}, 'user_4981': {'joke_19', 'joke_7'}, 'user_19971': {'joke_19', 'joke_5', 'joke_20'}, 'user_10214': {'joke_19', 'joke_20'}, 'user_6906': set(), 'user_4752': {'joke_19', 'joke_18'}, 'user_8889': set(), 'user_19221': set(), 'user_1034': set(), 'user_6970': set(), 'user_5832': set(), 'user_8430': set(), 'user_15949': {'joke_13'}, 'user_8006': set(), 'user_13822': set(), 'user_22992': {'joke_17'}, 'user_9431': set(), 'user_12085': {'joke_8', 'joke_18'}, 'user_3375': set(), 'user_2145': set(), 'user_22572': set(), 'user_22825': set(), 'user_14258': set(), 'user_4505': {'joke_19'}, 'user_13318': {'joke_16', 'joke_13'}, 'user_18609': set(), 'user_7849': set(), 'user_4159': {'joke_5', 'joke_18'}, 'user_13614': set(), 'user_8296': {'joke_15'}, 'user_21262': set(), 'user_9566': set(), 'user_6302': set(), 'user_476': {'joke_17'}, 'user_2969': set(), 'user_12699': set(), 'user_10525': {'joke_20'}, 'user_22900': {'joke_13'}, 'user_18923': set(), 'user_18200': {'joke_20'}, 'user_15708': set(), 'user_171': set(), 'user_22588': set(), 'user_12178': {'joke_20'}, 'user_983': {'joke_19'}, 'user_17326': set(), 'user_11937': {'joke_5'}, 'user_9213': {'joke_18'}, 'user_4126': set(), 'user_7746': set(), 'user_21131': set(), 'user_21522': set(), 'user_6080': set(), 'user_6275': set(), 'user_1361': set(), 'user_8': set(), 'user_2893': set(), 'user_20457': set(), 'user_2782': set(), 'user_2523': set(), 'user_17564': {'joke_18'}, 'user_18648': set(), 'user_16523': {'joke_8', 'joke_18'}, 'user_19806': set(), 'user_2141': {'joke_13'}, 'user_7315': set(), 'user_12729': {'joke_16'}, 'user_21356': {'joke_7'}, 'user_7469': set(), 'user_10480': set(), 'user_21651': set(), 'user_5741': set(), 'user_18002': set(), 'user_21423': {'joke_17', 'joke_18'}, 'user_20840': set(), 'user_11001': {'joke_20'}, 'user_19697': set(), 'user_9197': {'joke_18'}, 'user_8351': set(), 'user_9460': {'joke_5', 'joke_19'}, 'user_17821': set(), 'user_7477': set(), 'user_15872': {'joke_19'}, 'user_4637': set(), 'user_6528': set(), 'user_15432': {'joke_13', 'joke_19'}, 'user_1237': {'joke_19', 'joke_8'}, 'user_13587': set(), 'user_4634': {'joke_20'}, 'user_23058': {'joke_20'}, 'user_10179': {'joke_5', 'joke_15'}, 'user_13600': set(), 'user_18940': set(), 'user_6990': {'joke_13'}, 'user_6263': {'joke_13'}, 'user_1881': {'joke_18'}, 'user_15369': {'joke_13', 'joke_20'}, 'user_17971': set(), 'user_16363': set(), 'user_331': set(), 'user_722': set(), 'user_5557': {'joke_18'}, 'user_14711': set(), 'user_20869': set(), 'user_20275': {'joke_13', 'joke_18', 'joke_20'}, 'user_22960': {'joke_20'}, 'user_6624': {'joke_19'}, 'user_14607': {'joke_7', 'joke_18'}, 'user_13861': set(), 'user_9394': set(), 'user_2135': {'joke_20'}, 'user_17398': set(), 'user_11677': {'joke_13'}, 'user_1335': {'joke_19'}, 'user_18732': set(), 'user_22608': {'joke_17'}, 'user_22240': set(), 'user_17273': set(), 'user_15782': set(), 'user_370': set(), 'user_14803': {'joke_16', 'joke_17'}, 'user_13215': set(), 'user_12995': set(), 'user_11160': {'joke_13'}, 'user_19670': {'joke_8'}, 'user_11612': set(), 'user_2313': set(), 'user_12619': set(), 'user_21535': set(), 'user_17356': {'joke_20'}, 'user_3328': set(), 'user_16572': {'joke_17'}, 'user_11505': set(), 'user_5757': set(), 'user_21928': {'joke_19', 'joke_13', 'joke_18'}, 'user_13948': set(), 'user_5035': {'joke_8'}, 'user_16794': set(), 'user_6248': set(), 'user_12681': {'joke_16'}, 'user_11054': {'joke_13'}, 'user_9939': {'joke_8'}, 'user_4402': set(), 'user_16553': set(), 'user_10062': set(), 'user_2108': {'joke_15', 'joke_18'}, 'user_9438': set(), 'user_19795': set(), 'user_9364': set(), 'user_15321': {'joke_7', 'joke_20'}, 'user_21877': {'joke_17'}, 'user_11567': {'joke_15'}, 'user_9286': set(), 'user_8975': set(), 'user_12717': {'joke_19'}, 'user_2972': {'joke_19'}, 'user_10861': set(), 'user_23087': set(), 'user_3302': {'joke_7'}, 'user_20276': set(), 'user_19177': {'joke_17', 'joke_7', 'joke_20'}, 'user_16134': {'joke_5', 'joke_18'}, 'user_14813': {'joke_18'}, 'user_19495': {'joke_13'}, 'user_6128': {'joke_5', 'joke_17', 'joke_18'}, 'user_10524': {'joke_13'}, 'user_9741': set(), 'user_9802': set(), 'user_22285': {'joke_5', 'joke_20'}, 'user_9595': {'joke_20'}, 'user_16044': set(), 'user_20803': {'joke_15'}, 'user_10864': {'joke_7'}, 'user_7055': set(), 'user_2213': {'joke_19'}, 'user_11096': {'joke_19'}, 'user_11608': set(), 'user_6693': set(), 'user_3590': set(), 'user_8870': set(), 'user_11988': {'joke_17'}, 'user_4284': set(), 'user_12665': set(), 'user_15195': set(), 'user_16115': {'joke_20'}, 'user_1576': set(), 'user_19978': set(), 'user_9430': set(), 'user_12031': set(), 'user_21208': set(), 'user_12293': set(), 'user_9564': set(), 'user_1913': set(), 'user_11': {'joke_8'}, 'user_12965': {'joke_5', 'joke_15'}, 'user_14840': {'joke_8'}, 'user_7095': {'joke_20'}, 'user_6967': set(), 'user_16216': {'joke_19'}, 'user_12310': set(), 'user_7018': set(), 'user_13536': {'joke_20'}, 'user_13324': {'joke_19', 'joke_13'}, 'user_8684': set(), 'user_3948': set(), 'user_12350': set(), 'user_23180': set(), 'user_10919': set(), 'user_3137': {'joke_18'}, 'user_12919': set(), 'user_4404': {'joke_16', 'joke_13'}, 'user_12157': {'joke_20'}, 'user_16930': set(), 'user_904': set(), 'user_6047': set(), 'user_9411': set(), 'user_11574': {'joke_20'}, 'user_19573': {'joke_13', 'joke_18'}, 'user_10054': {'joke_18'}, 'user_11262': {'joke_19'}, 'user_16444': set(), 'user_18434': set(), 'user_4125': set(), 'user_22989': {'joke_19'}, 'user_8361': {'joke_8', 'joke_18'}, 'user_5113': set(), 'user_18341': {'joke_13'}, 'user_10819': set(), 'user_1277': {'joke_19', 'joke_8'}, 'user_14707': set(), 'user_14744': {'joke_17'}, 'user_19198': {'joke_20'}, 'user_11036': set(), 'user_15961': set(), 'user_20619': {'joke_16', 'joke_17'}, 'user_20243': set(), 'user_6347': set(), 'user_4187': set(), 'user_13303': set(), 'user_17536': set(), 'user_8115': {'joke_19', 'joke_17', 'joke_18'}, 'user_9748': set(), 'user_7584': {'joke_17'}, 'user_20907': set(), 'user_6393': set(), 'user_2420': set(), 'user_11996': set(), 'user_14428': set(), 'user_9056': {'joke_19'}, 'user_21328': set(), 'user_13020': set(), 'user_7007': set(), 'user_5670': {'joke_8'}, 'user_23039': set(), 'user_14589': {'joke_5', 'joke_18'}, 'user_4311': set(), 'user_2620': set(), 'user_4113': set(), 'user_6054': set(), 'user_14184': set(), 'user_6068': set(), 'user_17635': set(), 'user_21658': {'joke_19'}, 'user_18718': set(), 'user_8967': set(), 'user_5495': {'joke_7'}, 'user_1970': {'joke_19', 'joke_18'}, 'user_13026': set(), 'user_21994': {'joke_16'}, 'user_99': {'joke_18'}, 'user_9559': {'joke_17'}, 'user_15078': set(), 'user_8545': set(), 'user_2474': set(), 'user_131': {'joke_20'}, 'user_23351': {'joke_20'}, 'user_8194': set(), 'user_1389': set(), 'user_13568': set(), 'user_1108': set(), 'user_20962': set(), 'user_10416': {'joke_18'}, 'user_2948': {'joke_13'}, 'user_19015': {'joke_17'}, 'user_19672': set(), 'user_2452': {'joke_13'}, 'user_16254': set(), 'user_11967': {'joke_5'}, 'user_51': set(), 'user_7409': set(), 'user_15477': set(), 'user_8409': {'joke_13'}, 'user_13786': {'joke_17', 'joke_18'}, 'user_13755': set(), 'user_21924': set(), 'user_3608': {'joke_5'}, 'user_12099': {'joke_7', 'joke_20'}, 'user_19279': {'joke_8'}, 'user_2584': {'joke_17', 'joke_20'}, 'user_22735': set(), 'user_20817': set(), 'user_11915': {'joke_20'}, 'user_13410': set(), 'user_3110': set(), 'user_9448': {'joke_19'}, 'user_13544': {'joke_17'}, 'user_16210': {'joke_20'}, 'user_11517': set(), 'user_21770': set(), 'user_14082': set(), 'user_1447': {'joke_20'}, 'user_14112': set(), 'user_5276': {'joke_19'}, 'user_14406': set(), 'user_5323': set(), 'user_22315': {'joke_5'}, 'user_23186': {'joke_13', 'joke_19'}, 'user_14250': {'joke_19', 'joke_5'}, 'user_18985': set(), 'user_12688': {'joke_18'}, 'user_807': set(), 'user_7164': set(), 'user_16305': set(), 'user_8839': set(), 'user_17535': set(), 'user_13067': set(), 'user_18381': set(), 'user_14239': set(), 'user_14364': {'joke_17'}, 'user_11285': set(), 'user_14729': {'joke_20'}, 'user_9196': {'joke_16'}, 'user_14095': set(), 'user_9206': {'joke_18', 'joke_20'}, 'user_1802': {'joke_5'}, 'user_16620': set(), 'user_3681': set(), 'user_12591': set(), 'user_17374': set(), 'user_191': {'joke_5', 'joke_17', 'joke_20'}, 'user_15741': set(), 'user_6808': set(), 'user_17279': set(), 'user_15526': {'joke_20'}, 'user_9429': set(), 'user_7411': set(), 'user_2127': {'joke_8', 'joke_18'}, 'user_14862': {'joke_13', 'joke_20'}, 'user_5652': {'joke_19', 'joke_13', 'joke_15'}, 'user_4511': {'joke_5'}, 'user_18839': set(), 'user_4411': set(), 'user_8007': {'joke_8'}, 'user_11729': set(), 'user_13056': set(), 'user_6113': set(), 'user_3186': set(), 'user_17986': {'joke_5', 'joke_15'}, 'user_8027': set(), 'user_14301': set(), 'user_15022': set(), 'user_21783': {'joke_13'}, 'user_4190': set(), 'user_21313': set(), 'user_10999': {'joke_17'}, 'user_13098': {'joke_18'}, 'user_21804': set(), 'user_8358': set(), 'user_20533': {'joke_13'}, 'user_7567': set(), 'user_1508': set(), 'user_21540': {'joke_5'}, 'user_20294': set(), 'user_18217': set(), 'user_15982': {'joke_5'}, 'user_1769': set(), 'user_21307': {'joke_20'}, 'user_5195': set(), 'user_22272': {'joke_5', 'joke_17', 'joke_18', 'joke_20'}, 'user_16637': set(), 'user_2337': set(), 'user_18404': set(), 'user_13349': set(), 'user_13623': set(), 'user_8660': set(), 'user_5560': set(), 'user_21222': {'joke_13'}, 'user_937': {'joke_17'}, 'user_7126': {'joke_19'}, 'user_5173': set(), 'user_1731': set(), 'user_6286': set(), 'user_10227': {'joke_13'}, 'user_6100': set(), 'user_11449': set(), 'user_21539': set(), 'user_8837': {'joke_16'}, 'user_14541': set(), 'user_10472': {'joke_18'}, 'user_7199': set(), 'user_18821': set(), 'user_15570': {'joke_16', 'joke_15'}, 'user_10785': {'joke_16'}, 'user_2849': {'joke_18'}, 'user_19093': {'joke_13'}, 'user_22090': {'joke_18'}, 'user_4519': set(), 'user_8897': {'joke_13'}, 'user_5112': set(), 'user_541': set(), 'user_9845': {'joke_19'}, 'user_10922': {'joke_17'}, 'user_1879': {'joke_7'}, 'user_18660': {'joke_17'}, 'user_16855': set(), 'user_23438': {'joke_13'}, 'user_6049': set(), 'user_19946': set(), 'user_18203': {'joke_5', 'joke_20'}, 'user_1189': {'joke_5', 'joke_7', 'joke_18'}, 'user_5872': set(), 'user_16483': {'joke_13'}, 'user_12697': {'joke_16', 'joke_19'}, 'user_6277': {'joke_15'}, 'user_16349': set(), 'user_6727': set(), 'user_2353': {'joke_18'}, 'user_15619': {'joke_15'}, 'user_16878': set(), 'user_8919': set(), 'user_14908': set(), 'user_9670': set(), 'user_4600': set(), 'user_19114': set(), 'user_17778': set(), 'user_10171': {'joke_15', 'joke_18'}, 'user_21105': set(), 'user_11664': set(), 'user_12602': {'joke_19'}, 'user_22808': set(), 'user_3455': {'joke_19', 'joke_20'}, 'user_6217': set(), 'user_7410': set(), 'user_20176': {'joke_19'}, 'user_9555': set(), 'user_17349': {'joke_5', 'joke_13'}, 'user_21971': {'joke_18'}, 'user_12263': set(), 'user_8173': set(), 'user_15435': set(), 'user_15742': {'joke_15'}, 'user_14783': {'joke_8'}, 'user_17179': set(), 'user_15474': set(), 'user_3203': set(), 'user_13914': set(), 'user_5316': {'joke_13'}, 'user_6473': {'joke_16'}, 'user_9531': {'joke_17'}, 'user_21305': {'joke_13'}, 'user_16678': {'joke_5'}, 'user_4939': {'joke_20'}, 'user_637': {'joke_5'}, 'user_13830': set(), 'user_22717': {'joke_5', 'joke_13'}, 'user_4431': {'joke_8', 'joke_7'}, 'user_20939': {'joke_20'}, 'user_1949': set(), 'user_22743': set(), 'user_22647': set(), 'user_4720': {'joke_16'}, 'user_20490': set(), 'user_8316': set(), 'user_23331': set(), 'user_17583': {'joke_20'}, 'user_18624': {'joke_5', 'joke_15'}, 'user_12127': {'joke_18'}, 'user_22186': {'joke_18'}, 'user_6709': set(), 'user_23359': set(), 'user_12856': {'joke_8'}, 'user_3433': set(), 'user_7672': set(), 'user_19051': {'joke_15'}, 'user_16533': set(), 'user_16718': set(), 'user_1343': {'joke_8'}, 'user_1222': set(), 'user_17404': {'joke_17'}, 'user_1605': {'joke_19', 'joke_13'}, 'user_17989': {'joke_16', 'joke_5'}, 'user_17038': {'joke_5', 'joke_17'}, 'user_21615': {'joke_16'}, 'user_6413': set(), 'user_9988': {'joke_13', 'joke_18'}, 'user_22873': {'joke_19'}, 'user_20129': {'joke_18'}, 'user_7211': {'joke_18'}, 'user_23175': {'joke_5'}, 'user_23172': set(), 'user_7194': {'joke_19', 'joke_5'}, 'user_20795': {'joke_19'}, 'user_8792': set(), 'user_12011': {'joke_15', 'joke_20'}, 'user_12906': {'joke_15'}, 'user_13162': {'joke_13', 'joke_17'}, 'user_7525': set(), 'user_22109': set(), 'user_8161': set(), 'user_8026': set(), 'user_17256': set(), 'user_13247': {'joke_8', 'joke_18'}, 'user_22831': {'joke_17'}, 'user_21619': set(), 'user_4362': set(), 'user_4131': {'joke_8', 'joke_17'}, 'user_23229': {'joke_16'}, 'user_9462': set(), 'user_13580': {'joke_20'}, 'user_21749': {'joke_16'}, 'user_119': {'joke_18'}, 'user_3454': {'joke_7', 'joke_18'}, 'user_21453': set(), 'user_1933': {'joke_17'}, 'user_14706': set(), 'user_1162': {'joke_5'}, 'user_5165': set(), 'user_16866': {'joke_13'}, 'user_2791': set(), 'user_12830': {'joke_13'}, 'user_5650': set(), 'user_10644': set(), 'user_20813': set(), 'user_17280': set(), 'user_10720': set(), 'user_6762': set(), 'user_3690': {'joke_5', 'joke_20'}, 'user_20152': {'joke_5'}, 'user_15064': set(), 'user_251': set(), 'user_7679': set(), 'user_16766': set(), 'user_11107': set(), 'user_15263': set(), 'user_14148': set(), 'user_10075': {'joke_7'}, 'user_12996': {'joke_18'}, 'user_2306': set(), 'user_12791': {'joke_19'}, 'user_13414': set(), 'user_18959': set(), 'user_11592': set(), 'user_8557': {'joke_15'}, 'user_9297': set(), 'user_17624': set(), 'user_6411': set(), 'user_18336': {'joke_16', 'joke_18'}, 'user_19619': set(), 'user_1740': set(), 'user_4343': set(), 'user_17639': {'joke_15'}, 'user_1775': set(), 'user_18204': set(), 'user_21526': {'joke_16'}, 'user_1491': set(), 'user_3024': set(), 'user_6474': {'joke_7', 'joke_18'}, 'user_6134': set(), 'user_19887': set(), 'user_20906': set(), 'user_15824': {'joke_18'}, 'user_19363': set(), 'user_18059': set(), 'user_15595': {'joke_5', 'joke_7', 'joke_20'}, 'user_9568': set(), 'user_16176': {'joke_13'}, 'user_895': set(), 'user_11660': set(), 'user_15091': {'joke_5', 'joke_19'}, 'user_8256': {'joke_7', 'joke_20'}, 'user_18155': {'joke_20'}, 'user_12659': set(), 'user_10507': {'joke_20'}, 'user_4165': set(), 'user_12825': set(), 'user_10089': {'joke_19'}, 'user_20352': {'joke_5'}, 'user_225': set(), 'user_3835': set(), 'user_765': {'joke_13'}, 'user_5292': {'joke_17'}, 'user_19242': {'joke_20'}, 'user_14970': {'joke_17'}, 'user_7070': set(), 'user_12663': {'joke_17'}, 'user_1826': {'joke_18'}, 'user_20911': set(), 'user_13773': set(), 'user_13275': set(), 'user_1303': {'joke_16', 'joke_13'}, 'user_7936': set(), 'user_10558': set(), 'user_19164': set(), 'user_2937': {'joke_16', 'joke_20'}, 'user_2750': {'joke_16'}, 'user_18165': set(), 'user_12409': set(), 'user_10190': set(), 'user_12359': {'joke_13'}, 'user_13843': {'joke_20'}, 'user_19168': set(), 'user_11902': {'joke_17'}, 'user_20880': set(), 'user_15868': {'joke_18'}, 'user_175': set(), 'user_19682': {'joke_13', 'joke_18'}, 'user_7713': set(), 'user_15642': set(), 'user_15169': set(), 'user_3727': {'joke_16', 'joke_5'}, 'user_16083': set(), 'user_22310': set(), 'user_14092': {'joke_13', 'joke_19'}, 'user_5308': {'joke_18'}, 'user_12698': {'joke_19', 'joke_7'}, 'user_4076': set(), 'user_11661': set(), 'user_1085': set(), 'user_1465': {'joke_16', 'joke_5'}, 'user_6870': {'joke_13'}, 'user_11857': {'joke_18'}, 'user_16191': set(), 'user_14776': {'joke_13'}, 'user_15578': set(), 'user_5345': {'joke_17'}, 'user_17189': set(), 'user_20832': {'joke_13'}, 'user_4926': {'joke_18'}, 'user_15303': {'joke_5', 'joke_7'}, 'user_18989': {'joke_5', 'joke_7'}, 'user_9219': set(), 'user_13558': {'joke_20'}, 'user_15377': {'joke_19'}, 'user_15818': set(), 'user_10279': {'joke_5', 'joke_17', 'joke_20'}, 'user_3840': set(), 'user_19965': {'joke_5'}, 'user_4221': set(), 'user_21320': set(), 'user_22874': {'joke_13', 'joke_7'}, 'user_21043': {'joke_19'}, 'user_5474': set(), 'user_19633': set(), 'user_3040': {'joke_19'}, 'user_3598': set(), 'user_4442': {'joke_18'}, 'user_15882': set(), 'user_10237': set(), 'user_16014': set(), 'user_12180': set(), 'user_7471': {'joke_20'}, 'user_22586': set(), 'user_14652': {'joke_19'}, 'user_15506': {'joke_16', 'joke_13'}, 'user_5338': {'joke_20'}}